.container {
    text-align: center;
    height: 14.9rem;
    width: 30rem;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: rgba(243, 102, 172, 0.695);
}

.ques {
    padding: 5px;
    font-weight: 500;
    margin-top: 1.6rem;
}

.btn {
    width: 12.4rem;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 6px;
    font-weight: 600;
    margin: 3px;
    border-radius: 3px;
    text-align: center;
}

ul li {
    list-style: none;
    margin-right: 38px;
    background-color: white;
    position: relative;
    bottom: 16px;
    padding: 3px;
}

img {
    height: 1.2rem;
    width: 1.2rem;
    position: relative;
    top: 4.9px;
    left: 3.86rem;
}